{% extends 'layouts/adminLte/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %} Page Index Structure {% endblock %}
 {% block pageName %} Structure {% endblock %}

{% block head-css %}
    <style>
    .help-block{
        color: red;
        font-weight: bold;
    }
    </style>
 {% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                  <li class="breadcrumb-item active">Structure Page</li>
     </ol>
{% endblock %}

 {% block content %}
<div class="card">  <form method="post" action="" novalidate >
    {% csrf_token %}
        <div class="card-header">
          <h3 class="card-title">Ajout d'une Structure</h3>

        </div>
        <div class="card-body">

                <div class="row">
                    <div class="col-6" >

                         <div class="input-group mb-3">
                             {{form.first_name|add_class:'form-control form-control-sm'|as_crispy_field}}
                         </div>
                        <div class="input-group mb-3">
                             {{form.birthday|add_class:'form-control form-control-sm'|as_crispy_field}}
                         </div>
                        <div class="input-group mb-3">

                             {{form.phone|add_class:'textinput textInput form-control form-control-sm'|as_crispy_field}}
                         </div>
                        <div class="input-group mb-3">
                             {{form.adresse|add_class:'form-control form-control-sm'|as_crispy_field}}
                         </div>
                        <div class="input-group mb-3">
                             {{psform.qualite|add_class:'form-control form-control-sm'|as_crispy_field}}
                         </div>


                    </div>
                    <div class="col-6" >

                         <div class="input-group mb-3">

                             {{form.last_name|add_class:'form-control form-control-sm'|add_class:'form-control'|as_crispy_field}}
                         </div>
                        <div class="input-group mb-3">
                             {{psform.categorie|add_class:'form-control form-control-sm'|add_class:'form-control'|as_crispy_field}}
                         </div>
                            <div class="input-group mb-3">
                                 {{form.email|add_class:'form-control form-control-sm'|add_class:'form-control'|as_crispy_field}}
                             </div>
                        <div class="input-group mb-3">
                                 {{form.sexe|add_class:'form-control form-control-sm'|as_crispy_field}}
                             </div>
                        <div class="input-group mb-3">
                                 {{psform.specialite|add_class:'form-control form-control-sm'|as_crispy_field}}
                             </div>


                    </div>
                </div>




        </div>
        <!-- /.card-body -->
        <div class="card-footer">
           <button type="submit" class="btn btn-danger">Annuler</button>
           <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
        <!-- /.card-footer-->
      </div>

 {% endblock %}